<div class="component__inner encerramento__inner">
    <div class="title-flag">
        <span style="line-height: 30px;">Encerramento <br>
        <i style="font-size: 24px;font-weight:200;">Tópico Final</i></span>
        <div class="iconeFlag" style="margin-top: -20px;"><div class="icon"></div></div>
    </div>

    <div class="final-container">
        <div class="final-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" viewBox="0 0 30 35" fill="none">
                <path d="M26.6667 0.833984H5C2.99 0.833984 0 2.16565 0 5.83398V29.1673C0 32.8357 2.99 34.1673 5 34.1673H30V30.834H5.02C4.25 30.814 3.33333 30.509 3.33333 29.1673C3.33333 28.999 3.34833 28.849 3.37333 28.7123C3.56 27.754 4.345 27.5173 5.01833 27.5007H28.3333C28.3633 27.5007 28.385 27.4856 28.415 27.484H30V4.16732C30 2.32898 28.505 0.833984 26.6667 0.833984ZM26.6667 24.1673H3.33333V5.83398C3.33333 4.49065 4.25 4.18732 5 4.16732H16.6667V15.834L20 14.1673L23.3333 15.834V4.16732H26.6667V24.1673Z" fill="#6F2282"/>
            </svg>
        <p>RECAPITULANDO</p>
        </div>
        <div class="final-content" id="finalContentfim">
            {{{body}}}
        </div>
    </div>   
</div>   
